## 11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.

In [7]:
#zoo.py
def hours():
    print("Open 9-5 Daily")

#terminal commands
#import zoo.py ->
#hours() ->
hours()

Open 9-5 Daily

## 11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [ ]:
#commands
#import managerie
#managerie.hours()

## 16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order

In [1]:
import sqlite3


c1 = sqlite3.connect('books.db')



cursor = c1.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS Books (
    ID INTEGER PRIMARY KEY,
    title TEXT NOT NULL,
    author TEXT NOT NULL,
    publisher TEXT NOT NULL,
    )
    ''')




c1.commit()
c1.close()

IndentationError: expected an indented block after 'try' statement on line 8 (2148430014.py, line 10)

In [10]:
from sqlalchemy import create_engine, MetaData, Table
from sqlalchemy.sql import select

eng = create_engine('sqlite:///books.db')
c0 = eng.connect()

metData = MetaData()
metData.reflect(bind=eng)
tableBooks = metData.tables['Books']


find = select([tableBooks.c.title].order_by(tableBooks.c.title))



with c0 as connection:
    result = connection.execute(find)
    for row in result:
        print(row.title)

KeyError: 'Books'